body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f6;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  form {
    background: rgb(204, 203, 203); 
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #eef2f3;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #28c76f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #22a65b;
  }
  